.container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  width: auto;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  box-sizing: border-box;
}

.detail_container {
  border: 2px solid #456;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 80em;
  box-shadow: 0px 0px 20px 2px #402f26;
  box-sizing: border-box;
}

.detail_home {
  padding: 20px;
  position: absolute;
  left: 11.8%;
  border: none;
  outline: none;
  background-color: rgb();
  text-decoration: none;
}

.detail_home_p {
  text-decoration: none;
}

.detail_title {
  color: rgb(50, 100, 255);
}

.detil_score {
  font-size: 20px;
}

.detail_p_diets {
  font-size: 20px;
  font-weight: 300;
  color: rgb(50, 255, 150);
  text-shadow: 2px 1px 1px rgb(0, 0, 0, 0.8);
}

.detail_summary {
  font-size: 25px;
  color: rgb(90, 60, 100, 1);
}

.detail_img {
  width: 500px;
  height: 300px;
}

.detail_list {
  list-style: none;
  font-size: 20px;
  font-weight: 300;
}

.detail_p {
  font-size: 25px;
  font-weight: 700;
  color: rgb(145, 56, 50);
}
