.inicio {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  height: 100px;
  border: 2px solid #000;
  margin-bottom: 50px;
}

.h1 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(150, 150, 255);
  text-shadow: 3px 3px 1px rgb(0, 0, 0, 0.5);
}

.inicio_home {
  position: absolute;
  left: 0;
  padding: 10px;
  cursor: pointer;
}

.container {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  background-image: url("../../image/create.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.form {
  width: 550px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: rgb(128, 128, 128);
  text-align: center;
  justify-content: center;
  color: #fff;
}

.form_input {
  padding: 5px;
  border-radius: 10px;
}

.form_label {
  width: 160px;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  text-align: center;
}

.form_input::placeholder {
  color: #000;
}

.types {
  border-radius: 5px;
  padding: 0.8px;
  margin: 5px;
  box-shadow: 2px 3px 5px 3px rgb(255, 255, 255, 0.8);
  display: inline-block;
  flex-direction: row;
}

.btnx {
  width: 20px;
  border-radius: 10px;
  margin: 0 8px;
  border: none;
  background-color: red;
  color: white;
}

.adv {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  padding: 5px;
  border-radius: 15px;
  margin: 10px;
}

.correct {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  border: 2px solid rgb(231, 247, 195);
  color: #000000;
  font-size: 17px;
  background: rgb(231, 247, 195);
  padding: 10px;
}

.correct:hover {
  background: #e0e055;
  background-image: -webkit-linear-gradient(top, #f2f2b1, #f3ff99);
  background-image: -moz-linear-gradient(top, #f2f2b1, #f3ff99);
  background-image: -ms-linear-gradient(top, #f2f2b1, #f3ff99);
  background-image: -o-linear-gradient(top, #f2f2b1, #f3ff99);
  background-image: linear-gradient(to bottom, #f2f2b1, #f3ff99);
  text-decoration: none;
  cursor: pointer;
}

.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-top: 5px;
  padding: 3px;
  position: relative;
  border-radius: 1rem;
}
