/* .container{
  border: 1px solid black;
  display: flexbox;
  align-items: center;
  justify-content: center;
}

.alert{
  position: relative;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: .75rem 1.25rem;
  margin: 0 40rem 1rem 40rem;
  border-radius: 1rem;
} */

.inicio {
  text-align: center;
  height: 100px;
}

.h1 {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 33%;
}

.img {
  position: absolute;
  left: 0;
  margin: 10px 0 0 10px;
  width: 70px;
}

.p_img {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  left: 0;
  margin: 75px 0 0 19px;
  font-size: 18px;
}

.form {
  border: 2px solid rgb(200, 200, 200);
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 37%;
  justify-content: center;
  text-align: center;
  width: 450px;
  height: 450px;
  margin-top: 30px;
}
