.navContainer{
  box-sizing: border-box;
  border: 2px solid red;
  text-align: center;
  height: 100px;
  background: #d25;
}

.navContainer__btnShow{
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}

.navContainer__h1{
  color: #fff;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
}