:root {
  --effect: hover 1s linear infinite;
}

.home {
  background-image: url("../../image/pngtree-restaurant-food-poster-image_174124.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navContainer {
  box-sizing: border-box;
  border-bottom: 2px solid rgb(150, 150, 150, 0.9);
  text-align: center;
  height: 100px;
  /* background: #d25; */
}

.navContainer__btnShow {
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(150, 120, 70);
}

.navContainer__h1 {
  color: #fff;
  text-shadow: 3px 3px 3px rgba(118, 120, 121, 0.5);
  font-size: 30px;
  font-weight: 700;
}
.pageContainer {
  display: flex;
  justify-content: center;
}

.cardsContainer {
  margin-top: 8rem;
}
