.navContainer__navbar_btncreate {
  display: inline-block;
}

.navContainer__navbar {
  display: inline-block;
  height: 10px;
}

.img {
  height: 55px;
}

.p {
  cursor: pointer;
}

.btn_create {
  position: absolute;
  left: 0;
  top: 1%;
  padding: 10px;
}
